{% extends 'dashboard/base.html' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <div class="card-header ">
                        <h4 class="card-title">{{ title }}</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Nama Kategori</label>
                            <div class="col-sm-10">
                            <div class="form-group">
                                <input type="text" name="nama_kategori" value="{{ kategori }}" class="form-control" required>
                                <span class="form-text text-warning text-sm">Masukkan Nama Kategori Yang Diinginkan</span>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-success">Simpan</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
