{% extends "halaman/base.html" %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title">Tentang Kami</h2>
                    <h5 class="description">Selamat datang di Website Beritaku, sumber tepercaya Anda untuk berita terkini, analisis mendalam, dan pelaporan yang mendalam. Misi kami adalah untuk menjaga Anda tetap terinformasi dengan liputan yang akurat, tepat waktu, dan komprehensif tentang cerita-cerita yang paling penting bagi Anda.</h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Misi Kami</h2>
                    <h5 class="description">Di Website Beritaku, kami percaya pada kekuatan warga yang terinformasi. Tujuan kami adalah memberikan Anda informasi yang Anda butuhkan untuk membuat keputusan yang tepat dan memahami dunia di sekitar Anda. Kami berkomitmen untuk menyajikan berita yang:

                        <br>Akurat: Tim jurnalis dan editor berpengalaman kami bekerja tanpa lelah untuk memastikan akurasi setiap cerita yang kami terbitkan.</br>
                        <br>Tepat Waktu: Kami berusaha untuk menyajikan berita terbaru saat itu juga, sehingga Anda selalu mendapat informasi terbaru tentang peristiwa terkini.</br>
                        <br>Tidak Memihak: Kami berdedikasi untuk memberikan pelaporan yang seimbang dan tidak memihak, memberi Anda berbagai perspektif tentang isu-isu yang penting.</br></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Liputan Kami</h2>
                    <h5 class="description">Kami meliput berbagai topik, termasuk:

                        <br>Politik: Dapatkan analisis mendalam dan liputan terbaru tentang peristiwa dan kebijakan politik baik di dalam negeri maupun internasional. Kami membawa Anda wawasan tentang keputusan politik yang mempengaruhi kehidupan sehari-hari Anda.</br>
                        <br>Sports: Ikuti berita terbaru tentang olahraga favorit Anda, dari sepak bola hingga olahraga ekstrem. Dapatkan skor terbaru, sorotan pertandingan, dan analisis dari para ahli.</br>
                        <br>Gadgets: Jelajahi kemajuan terbaru dalam teknologi dan gadget. Kami menyediakan ulasan mendalam tentang smartphone, tablet, perangkat wearable, dan inovasi teknologi lainnya.</br></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Nilai-nilai Kami</h2>
                    <h5 class="description">
                        <br>Integritas: Kami mematuhi standar integritas dan etika jurnalistik tertinggi.</br>
                        <br>Transparansi: Kami berkomitmen untuk transparansi dalam pelaporan kami dan berusaha memberikan konteks dan latar belakang untuk membantu Anda memahami berita.</br>
                        <br>Komunitas: Kami menghargai pembaca kami dan mendorong keterlibatan serta umpan balik. Suara Anda sangat berarti bagi kami.</br></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/fotoku.jpeg' %}" /></a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Wahyu Saputra</h4>
                            <h6 class="category text-muted">CEO / Co-Founder</h6>

                            <p class="card-description">
                                Happy to share information with you.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

